:root{
  --fontBase: clamp(1rem, 0.4681rem + 2.2695vi, 2rem);
  --mod1: .9;
  --mod2: calc(var(--mod1)*var(--mod1));
  --mod3: calc(var(--mod2)*var(--mod1));
  --mod4: calc(var(--mod3)*var(--mod1));
  --mod5: calc(var(--mod4)*var(--mod1));
}


.hometop{
  position:relative;
  height: 40vh;
  background-color: #A5BCE3;
  border-bottom-right-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-image {
  max-width: 90%;
  max-height: 95%;
}

.hometop:before {
  content: "";
  position:absolute;
  bottom:-12rem;
  left:0rem;
  height:12rem;
  width: 12rem;
  border-top-left-radius: 50%;
  background:transparent;
  z-index: 0;
}



.hometop:before {
  box-shadow:-5rem  -0.1rem  0  0 #A5BCE3;
  z-index: 0;
}



.homebottom{
  padding-top: 5vh;
  text-align: center;
  border-top-left-radius: 3rem;
}


.homesquare{
  aspect-ratio: 1;
  border-radius: 20%;
  padding-top: .3rem;
}


.image-container {
  aspect-ratio: 1;
  margin: 0 auto;
  text-align: center;
  
  /* border: 1px solid black; */
}

.centered-image {
  margin: 0 auto;
  max-width: 95%;
  max-height: 75%;

  /* border: 1px solid black; */
}

.homesquare {
  text-align: center;
}


.link-text {
  display: block;
  /* margin-top: 0.2rem; */
  font-size: calc(var(--mod1)*var(--fontBase));
  color: #4E4F5E;
  text-decoration: none;

    --stroke-color: white;
    --stroke-width: .2rem;

    letter-spacing: var(--stroke-width);
    
    color: black;

    text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
      calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
      0 var(--stroke-width) 0 var(--stroke-color),
      0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);

    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}