:root{
  --fontBase: clamp(19px, 15.8085px + 0.8511vi, 25px);
  --mod1: 1;
  --mod2: calc(var(--mod1)*var(--mod1));
  --mod3: calc(var(--mod2)*var(--mod1));
  --mod4: calc(var(--mod3)*var(--mod1));
  --mod5: calc(var(--mod4)*var(--mod1));
}


.hometop{
  position:relative;
  height: 35vh;
  background-color: #A5BCE3;
  border-bottom-right-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-image {
  max-width: 90%;
  max-height: 95%;
}

.hometop:before {
  content: "";
  position:absolute;
  bottom:-12rem;
  left:0rem;
  height:12rem;
  width: 12rem;
  border-top-left-radius: 50%;
  background:transparent;
  z-index: 0;
}



.hometop:before {
  box-shadow:-5rem  -0.1rem  0  0 #A5BCE3;
  z-index: 0;
}



.homebottom{
  padding-top: 5vh;
  text-align: center;
  border-top-left-radius: 3rem;
}


.homesquare{
  aspect-ratio: 1;
  border-radius: 20%;
  padding: .3rem;

}


.image-container {
  aspect-ratio: 1;
  margin: 0 auto;
  text-align: center;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.centered-image {
  margin: 0;
  padding: 0;
  padding-top: .2rem;
  margin: 0 auto;
  max-width: 100%;
  max-height: 75%;


  /* border: 1px solid black; */
}

.homesquare {
  text-align: center;
}


.link-text {
  display: block;
  /* margin-top: 0.2rem; */
  padding-bottom: .5rem;
  font-size: calc(var(--fontBase));
  color: #4E4F5E;
  text-decoration: none;

    --stroke-color: white;
    --stroke-width: .2rem;

    letter-spacing: var(--stroke-width);
    
    color: black;

    text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
      calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
      0 var(--stroke-width) 0 var(--stroke-color),
      0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);

    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.link-text2 {
  font-size: calc(.8*var(--fontBase));
}

/* -------------Common style to Alpha, Betta and Gamma------------- */

.square {
  position: relative;
  aspect-ratio: 1;
  padding-bottom: .1rem;
  /* Add other necessary styles for the square */
}

.centerpic {
  position: relative;
  /* Add other necessary styles for centering content */
}

.star-button {

  scale: 2.3;
  position: absolute;
  right: 0;
  top: .5rem;
  z-index: 99;

}

.emotion-container {
  position: relative;
 }

 .centered-text {
  margin: 0;
  padding: 0;
  font-size: calc(.9*var(--fontBase));
  width: 100%;
  text-align: center;
  transform: translateY(-3px);
 }

 .button-color {
  font-size: calc(var(--fontBase));
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

 }

 .button-content-left {
  padding-left: 1rem;
  padding-right: 3rem;
 }
 .button-content-right {
  padding-right: 1rem;
  padding-left: 3rem;
 }

 .button-wrapper {
  padding-right: .2rem;
  padding-left: .2rem;
 }

.middle-heading > h1 {
  padding-right: 2rem;
  /* margin-top: 0.2rem; */
  font-size: calc(2.1*var(--fontBase));
  text-decoration: none;

    --stroke-color: white;
    --stroke-width: .2rem;

    letter-spacing: var(--stroke-width);

    text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
      calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
      0 var(--stroke-width) 0 var(--stroke-color),
      0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);

    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
      var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
      var(--stroke-color);
}

.grid-middle {
  scale: .9;
  transform: translateX(-2px);
}

.commontop, .bottom, .button-wrapper{
  max-width: 37rem;;
}