

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

em{
  font-weight: bold;
  font-style: normal;
  color: rgb(22,56,112);    
}

 



  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
  
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Inter', sans-serif;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  
  
  .container {
    max-width: 37rem;
    margin: 0 auto;
    padding: 0;
    
    overflow: hidden;
  }

  .contain {
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
  }
    
  
  .container-inner {
    width: 100%;
  }

  
  
  

  
  
  
  
  .grid > div {
    width: 100%;
  }
  
  
  
  
  .col-0 { display: none;}
  .col-1 { display: grid; grid-column: span 1; }
  .col-2 { display: grid; grid-column: span 2; }
  .col-3 { display: grid; grid-column: span 3; }
  .col-4 { display: grid; grid-column: span 4; }
  .col-5 { display: grid; grid-column: span 5; }
  .col-6 { display: grid; grid-column: span 6; }
  .col-7 { display: grid; grid-column: span 7; }
  .col-8 { display: grid; grid-column: span 8; }
  .col-9 { display: grid; grid-column: span 9; }
  .col-10 { display: grid; grid-column: span 10; }
  .col-11 { display: grid; grid-column: span 11; }
  .col-12 { display: grid; grid-column: span 12; }
  
  
  @media screen and (min-width: 568px) {
      
      .col-0-sm { display: none; }
      .col-1-sm { display: grid; grid-column: span 1; }
      .col-2-sm { display: grid; grid-column: span 2; }
      .col-3-sm { display: grid; grid-column: span 3; }
      .col-4-sm { display: grid; grid-column: span 4; }
      .col-5-sm { display: grid; grid-column: span 5; }
      .col-6-sm { display: grid; grid-column: span 6; }
      .col-7-sm { display: grid; grid-column: span 7; }
      .col-8-sm { display: grid; grid-column: span 8; }
      .col-9-sm { display: grid; grid-column: span 9; }
      .col-10-sm { display: grid; grid-column: span 10; }
      .col-11-sm { display: grid; grid-column: span 11; }
      .col-12-sm { display: grid; grid-column: span 12; }     
  }
  
  
  @media screen and (min-width: 834px) {
      
      .col-0-md { display: none; }
      .col-1-md { display: grid; grid-column: span 1; }
      .col-2-md { display: grid; grid-column: span 2; }
      .col-3-md { display: grid; grid-column: span 3; }
      .col-4-md { display: grid; grid-column: span 4; }
      .col-5-md { display: grid; grid-column: span 5; }
      .col-6-md { display: grid; grid-column: span 6; }
      .col-7-md { display: grid; grid-column: span 7; }
      .col-8-md { display: grid; grid-column: span 8; }
      .col-9-md { display: grid; grid-column: span 9; }
      .col-10-md { display: grid; grid-column: span 10; }
      .col-11-md { display: grid; grid-column: span 11; }
      .col-12-md { display: grid; grid-column: span 12; } 
  }
  
  @media screen and (min-width: 1080px) {
  
      .col-0-lg { display: none; }
      .col-1-lg { display: grid; grid-column: span 1; }
      .col-2-lg { display: grid; grid-column: span 2; }
      .col-3-lg { display: grid; grid-column: span 3; }
      .col-4-lg { display: grid; grid-column: span 4; }
      .col-5-lg { display: grid; grid-column: span 5; }
      .col-6-lg { display: grid; grid-column: span 6; }
      .col-7-lg { display: grid; grid-column: span 7; }
      .col-8-lg { display: grid; grid-column: span 8; }
      .col-9-lg { display: grid; grid-column: span 9; }
      .col-10-lg { display: grid; grid-column: span 10; }
      .col-11-lg { display: grid; grid-column: span 11; }
      .col-12-lg { display: grid; grid-column: span 12; }
  }