
.alphatop{
    height: 25vh;
    border-bottom-right-radius: 8rem;
    position:relative;
    z-index: 0;
  }




.alphatop:before {
    content: "";
    position:absolute;
    bottom:-12rem;
    left:0rem;
    height:12rem;
    width: 12rem;
    border-top-left-radius: 50%;
    background:transparent;
    z-index: 0;
  }


.alphatop:before {
    box-shadow:-5rem  0  0  0 #D5E2EE;
    z-index: 0;
 }


 .alphacolor{
    background-color: #D5E2EE;
}









